body{background-color: rgb(32, 32, 32) ;
    font-family: 'Lucida Sans Unicode';}
header{ color:rgb(116, 241, 13);
    font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
    height: 70vh;
    text-align: center;
}
h1{ text-align: center;
    font-size: 20vh;}
header p{
    font-size: 15pt;
}
#proyects{
    color: aliceblue;
    font-size: 11pt;
}
.section{
    display: block;
   
}
.proyect{  border: 1px solid ;border-color: rgb(13, 188, 241)a;
    width: 70vw;
    display: block;
    background-color: black;
    margin: 3vw;
    margin-left: 10vw;
    padding: 3vw;
    border-radius: 5pt;
}

.proyect h3{
    font-size: 20pt;
    color:rgb(116, 241, 13);
    font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.proyect p{
    size: 12pt;
    color: beige;
}
iframe{
    width: 70vw;
    height: 70vh;
}
.title{
    margin-left: 10vw;
}
h2, h3, h5{ 
    font-size: 20pt;
    color:rgb(116, 241, 13);
    font-family: "Electrolize", sans-serif;
}
.formulario{
   background-color: black;
   margin-top: 5vh;
   margin-left: 10vw;
   padding: 3vw;
   border-radius: 5pt;
   width: 70vw;
}
.enviar button { 
	background-color:rgb(116, 241, 13);
	border-width: 0;
	margin-left: 30%;
	margin-right: 30%;
	width: 20%;
    height: 30px;
}
form{
    width: 50vw;
    margin-left: 15vw;
}
.nombre,.email{

    width: 277px;
height: 20px;
flex-shrink: 0;
border-radius: 5px;
border: 2px solid #9afa5a;
background: #FFF;

color: #000;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 97%; /* 19.4px */
letter-spacing: -0.3px;
margin: 2vh;

}
.inquietud{
    width: 600px;
height: 40vh;
flex-shrink: 0;
border-radius: 5px;
border: 2px solid #9afa5a;
background: #FFF;

color: #000;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 97%; /* 19.4px */
letter-spacing: -0.3px;
margin: 2vh;

}

footer{
    padding-left: 10vw;
    padding-bottom: 10vh;
    font-size: 15px;
}

